.PhotoDetailsPage-component {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  /* align-items: ; */
}

.top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.photo-viewing-background {
  height: 800px;
  max-height: 800px;
  width: 100vw;
  background-color: #212124;
  z-index: -1;
}

.photo-view {
  width: 700px;
  height: 500px;
  object-fit: cover;
}

.bottom-half {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: blue;
}

.bottom-half-left {
  grid-column: 1 / 2;
  background-color: magenta;
}

.bottom-half-right {
  grid-column: 2 / 3;
  background-color: teal;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: inline-block;
}
