.PhotoDetailsPage-component {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  /* align-items: ; */
  padding-top: 40px;
}

.top-half {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* min-height: 500px; */
}
.top-half-section-A {
  grid-row: 1 / 2;
  background-color: red;
}
.top-half-section-B {
  grid-row: 2 / 3;
  background-color: blue;
}
.top-half-section-C {
  grid-row: 3 / 4;
  background-color: yellow;
}

.view-photo {
  width: 700px;
  height: 500px;
  object-fit: cover;
  margin: 50px 0px;
}

.bottom-half {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: blue;
}

.bottom-half-left {
  grid-column: 1 / 2;
  background-color: magenta;
}

.bottom-half-right {
  grid-column: 2 / 3;
  background-color: teal;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: inline-block;
}
