.account-component {
    width: 100%;
    height: 210px;
    padding-top: 90px;
}

.account-coverphoto-container {
    /* height: 250px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.account-coverphoto {
    width: 100%;
    /* height: 250px; */
    object-fit: cover;
}

.account-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 0px 25px;
    color: #fff;
}


/* LEFT */
.account-info-left-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 210px;
}
.account-profile-pic-container {
    margin-bottom: 15px;
}
.account-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 90px;
}
.account-profile-names-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 100px;
}
#banner-user-full-name {
    padding: 0px;
    margin: 5px 0px;
}

#banner-user-username{
    padding: 0px;
    margin: 5px 0px
}


/* RIGHT */
.account-info-right-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 210px;
}

.account-user-stats-container {
    margin-bottom: 30px;

}
