.AlbumDetailsPage-component {
    width: 100%;
    max-width: 1536px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-self: center;
    padding: 30px;
    margin-bottom: 70px;
    height: 100vh;
}

.banner-photo-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 1px 1px #000;
}

#banner-album-name {
    font-size: 32px;
}

#banner-album-description{
    font-size: 24px;
    font-family: Georgia, serif;
    font-style: italic;
    margin-top: 13px;
    margin-bottom: 5px;
}
#banner-album-photo-count {
    font-size: 14px;
    margin-bottom: 10px;
}
#banner-modify-album-buttons-container {
    width: 50px;
    display: flex;
    justify-content: space-between;
}
#banner-modify-album-buttons-container > i {
    cursor: pointer;
}
/* Flickr does not have hover effect */
/* #banner-modify-album-buttons-container > i:hover {
    color: #8e9396;
} */


#navigate-to-albumstream-button {
    font-size: 16px;
    cursor: pointer;
}


.album-page-photostream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.albumDetails-photo-card-small {
    height: 305px;
    width: 297px;
    object-fit: cover;
    padding: 5px;
}

.albumDetails-photo-card-large {
    height: 750px;
    width: 750px;
    object-fit: cover;
    padding: 5px;
}
