/* inherits styling from AlbumCreateForm.css */

.mock-upload-navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #efefef;
  padding: 10px 25px;
}
.photo-submit-button {
  height: 24px;
  width: 120px;

  border: none;
  border-radius: 0.25rem;
  padding-right: 10px;

  background-color: #0362db;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.photo-form-container {
  display: flex;
  flex-direction: column;
  background-color: #262626;
}
.photo-form-top-sub-container {
  display: flex;
  flex-direction: row;
}

.photo-form-top-left-sub-container {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background-color: yellow; */
}

.photo-form-top-left-sub-container > label {
  min-height: 46px;
  max-width: 240px;
  border-bottom: 1px solid #383838;
}

.inputFieldTypeText {
  min-height: 25px;
  width: 250px;

  font-size: 14px;
  margin-bottom: 10px;
  padding: 16px 0px 0px 16px;
  border: none;

  background: none;
  outline: none;

  color: #fff;
  padding-left: 15px;
}
#input-photo-name {
  font-size: 18px;
}


.view-uploaded-image > img {
  object-fit: contain;
  max-width: 1000px;
}

