.landing-component {
    margin-top: 100px;
}

/* .background-image-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
} */

.background-image {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.landing-no-session-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.landing-no-session-text-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 640px;
    /* border: 1px solid red; */
    color: #fff;
    text-align: center;
}

.landing-no-session-text-box-container > h1 {
    font-size: 56px;
    font-weight: 900;
    margin: 0px;
}

.landing-no-session-text-box-container > h2 {
    font-size: 26px;
    margin-bottom: 50px;
}

#landing-explore-button {
    width: 200px;
    height: 64px;
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

#landing-explore-button:hover {
    cursor: pointer;
    color: #7f7f7f;
}
