.albumstream-component {
  width: 100%;
  max-width: 1536px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  align-self: center;
  /* remove this once navbar issue fixed */
  padding-top: 30px;
  height: 100vh;
}

.albumstream-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.albumstream-album-card {
  height: 240px;
  width: 240px;
  object-fit: cover;
  margin: 0px 15px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.albumstream-album-card > div {
  margin: none;
  padding-left: 20px;
}

.albumstream-title-strip {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;
}

.albumstream-title-strip-right {
  /* grid-column: 1 / 1; */
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

#albumstream-album-name {
  font-size: 20px;
}

#albumstream-album-photo-count {
  font-size: 16px;
  padding-bottom: 20px;
}

#no-albums-text-box {
  width: 710px;
  margin-top: 24px;
}

#albumstream-new-album-button {
  font-size: 18.5px;
  color: #8e9297;
  padding-left: 15px;
  cursor: pointer;
  text-decoration: none;
}
