/* .landing-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1536px;
    height: 64px;
} */
.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;
}
.navigation-bar > a {
    text-decoration: none;
}

/* MAIN */
#landing-no-session-navbar-main {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(21,21,23,.95);
}

#navbar-main {
    position: fixed;
    top: 0;
    z-index: 1;
    /* background-color: #202122; */
    background-color: rgba(32,33,34,.95);
}

#navbar-main > a {
    color: #fff;
}


.navigation-bar-logo {
    height: 40px;
}

#navbar-upload-photo-button {
    color: #fff;
    font-size: 30px;
}
#navbar-upload-photo-button:hover {
    color: #8e9396;
}

.nav-bar-left {
    padding-left: 24px;
}

.nav-bar-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    padding: 0 24px;
}
/* .nav-bar-right > div > div > div:hover {
    color: red;
    color: #bcbcbd;
} */

.nav-bar-right-A {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.nav-bar-right-A > div {
    padding: 0px 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.nav-bar-right-A > div:hover {
    color: #8e9396;
}

.nav-bar-right-B {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav-bar-right-B > div {
    padding: 0px 5px;
    color: #fff;
    cursor: pointer;
}

#login-button {
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
}

#signup-button {
    color: #000;
    text-decoration: none;
    width: 96px;
    height: 32px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
