.photostream-component {
  width: 100%;
  max-width: 1536px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* remove this once navbar issue fixed */
  padding: 30px 100px 50px 100px;
  /* background-color: rgb(150, 150, 226); */
  /* background-color: red; */
}

/* ⛔️ PROPERTIES SHARED WITH ALBUMSTREAM ⛔️ */
.photostream-title-strip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  max-width: 1536px;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;
}
.photostream-title-strip-left {
  grid-column: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
}
.photostream-title-strip-right {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.photostream-title-strip > div > span {
  font-size: 18.5px;
  color: #8e9297;
  justify-self: left;
  font-weight: 100;
}
.photostream-title-strip-right > i {
  font-size: 18.5px;
  color: #8e9297;
  padding-left: 15px;
  cursor: pointer;
}
.photostream-title-strip-right > i:active {
  color: #018fde;
}
/* ⛔️ END SHARE ⛔️ */

.photostream-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photostream-photo-card-small {
  height: 500px;
  width: 500px;
  object-fit: cover;
  padding: 5px;
}

.photostream-photo-card-large {
  height: 750px;
  width: 750px;
  object-fit: cover;
  padding: 5px;
}

/* NO PHOTOS CONDITION */
/* ⛔️ PROPERTIES SHARED WITH ALBUMSTREAM ⛔️ */
.no-photos-or-albums-text-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.no-photos-or-albums-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 732px;
}
.no-photos-or-albums {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}
.no-photos-or-albums-upload-prompt {
  font-weight: 16px;
  margin-bottom: 5px;
}

.no-photos-or-albums-upload-button {
  height: 36px;
  width: 169px;
  background-color: #128fdc;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
  font-size: 15px;
  margin: 20px 0px 40px 0px;
}

.watermark {
  width: 1536px;
  object-fit: cover;
}

/* ⛔️ END SHARE ⛔️ */
