.explore-component {
    max-width: 1536px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore-photo-feed {
    display: inline-block;

}

.explore-photo-card {
    max-height: 340px;
}
