/* inherits styling from AlbumCreateForm.css */

#PhotoCreateForm-component {
  margin-top: 0px;
  padding-top: 0px;
  top: 0;
  height: 100%;
}


.mock-upload-navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #efefef;
    /* padding: 10px 25px; */
}
.photo-submit-button {
    height: 24px;
    width: 120px;

    border: none;
    border-radius: 0.25rem;
    padding-right: 10px;

    background-color: #0362db;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}


.photo-form-container {
    display: flex;
    flex-direction: column;
    background-color: #262626;
}
.photo-form-top-sub-container {
    display: flex;
    flex-direction: row;
}


.photo-form-top-left-sub-container {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: yellow; */
}

.photo-form-top-left-sub-container > label {
    min-height: 46px;
    max-width: 240px;
    border-bottom: 1px solid #383838;
}

.inputFieldTypeText {
    min-height: 25px;
    width: 250px;

    font-size: 16px;
    margin-bottom: 10px;
    padding: 16px 0px 0px 16px;
    border: none;

    background: none;
    outline: none;

    color: #fff;
    padding-left: 15px;
}
.inputFieldTypeText::placeholder{
  font-size: 16px;
}
#input-photo-name{
    font-size: 18px;
}

.inputFieldTypeText2 {

  min-height: 25px;
  width: 250px;

  font-size: 14px;
  padding: 16px 0px 0px 16px;
  border: none;

  background: none;
  outline: none;

  color: rgb(124, 124, 124);
  padding-left: 15px;
  cursor: pointer;
}

.inputFieldTypeText3 {
    min-height: 25px;
    width: 250px;

    font-size: 14px;
    padding: 15px 0px 0px 16px;
    border: none;

    background: none;
    outline: none;

    color: rgb(250, 250, 250);
    padding-left: 15px;
    cursor: pointer;

}

.dropdown-label {
  display: flex;
  flex-direction: row;
  min-height: 46px;
  max-width: 260px;
  width: 270px;
  border-bottom: 1px solid #383838;
  font-size: 16px;
}
.dropdown-label > * {
  font-size: 16px;
}

.taken-on-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 46px;
  max-width: 260px;
  width: 270px;
  color: rgb(124, 124, 124);
  font-size: 16px;
  text-indent: 15px;
}

.taken-on-label > p {
  margin: 15px 0px 0px 0px;
  color: rgb(124, 124, 124);
  font-size: 16px;
}




.album-dropdown-hide {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 150px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
  }

.dropdown-content-hide {
    display: none;
  }

.dropdown-content-show {
  display: block;
  position: absolute;
  background-color:  #3b3b3b;
  max-width: 190px;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25px;
  padding-right: 25px;
  z-index: 1;
  border-radius: .25rem;
  margin-top: 2%;
}

.album-dropdown-show {
    display: block;
    margin-top: 7%;
    color:#00a2c7;
    z-index: 1;
    cursor: pointer;
}

.album-not-selected {
    color: rgb(100, 100, 100);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    background-color: rgb(179, 174, 174);
    margin-bottom: 5px;
    gap: 1;
    padding: 20px;
    max-width: 150px;
    min-width: 150px;
    line-height: 25px;
}



.album-selected {
  color: rgb(245, 241, 241);
  background-color: rgb(173, 169, 169);
  border: 1px solid rgb(248, 243, 243);
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  margin-bottom: 5px;
  gap: 1;
  padding: 20px;
  max-width: 150px;
  min-width: 150px;
  line-height: 25px;
}

.dropdown-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 160px;
}



.album:active {
  border-color: #00a2c7;
}


.album-dropdown-span {
    background-color:darkblue;
    border: 1px solid darkblue;
    color: #ffff;
    border-radius: .25rem;
  }


.photo-form-top-right-sub-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f2f2f;
}


.view-uploaded-image > img {
    object-fit: contain;
    max-width: 1000px;

}
